html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #333 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
 .navbar:not(.top-nav-collapse) {
  background: #333 !important;
 }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.icon__link {
  color: #fff !important;

  transition: color .2s linear;
}

.icon__link:hover {
  color: #ccc !important;
}

.btn {
  color: #fff;
  border: 2px solid #fff !important;
  background: none;

  transition: color .2s linear;
  transition: background .2s linear;
}

.btn:hover {
  color: #000;
  background: #fff;
}